{% if silpion_apt_autoupgrades_enable %}
APT::Periodic::Update-Package-Lists "1";
APT::Periodic::Unattended-Upgrade "1";
{% else %}
APT::Periodic::Update-Package-Lists "0";
APT::Periodic::Unattended-Upgrade "0";
{% endif %}
